:root {
  /*Main Variables*/
  --main_font: "Inter", sans-serif;
  --display_font: "Fraunces", serif;
  --text_font: Georgia, serif;

  --main_color: #ababd5;
  --sub_color: #7d6e56;
  --highlight_color: #17076f;
  --dark_color: #392f5a;
  --header_color: #0d1f22;
  --bg_color: #fff6f1;
  --line_color: #0d1f22;
}

/*Main Variables*/
$main_font: "Inter", sans-serif;
$display_font: "Fraunces", serif;
$text_font: Georgia, serif;

$main_color: #ababd5;
$sub_color: #7d6e56;
$highlight_color: #17076f;
$dark_color: #392f5a;
$header_color: #0d1f22;
$bg_color: #fff6f1;
$line_color: #0d1f22;
