.share-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.share-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}
.facebook {
  background: $highlight_color;
}
.twitter {
  background: $highlight_color;
}
.bluesky {
  background: $highlight_color;
}
.instagram {
  background: $highlight_color;
}
.pinterest {
  background: $highlight_color;
}
.flipboard {
  background: $highlight_color;
}
.reddit {
  background: $highlight_color;
}
.mail {
  background: $highlight_color;
}
.share-btn:hover {
  opacity: 0.8;
}
